 #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffc500;
  height: 100vh;
}

body {
  background-color: #ffc500;
}

.hidden {
  display: none;
}

.carousel {
  padding: 20px;
  background-color: none;
  width: 100%;
  height: 100%;
}

.card {
  margin: 20px;
  color: #740001;
  border: white solid 1px;
  background-color: beige;
  box-sizing:content-box;
}

#correct {
  background-color: green;
}

#incorrect {
  background-color: red;
} */
/* 
.read-the-docs {
  color: #888;
} */ */


.everything-centred {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #7f0909;
  color: #ffc500;
}

 .nav-links a {
  /* color: #fff; */
  float: left;
  display: block;
  padding: 8px;
  /* background-color: #dddddd; */
 }

link {
  padding: 5px 14px;
}

a:visited
{ color: #ffc500 }

ul {
  list-style: none;
}

a.begin {
  color: black
}

button {
  border: solid 1px #7f0909
  padding: 30px;
  color: #d3a625;
}